.box{
  margin-bottom: 10px;
}

.top-button{
  display: flex;
  justify-content: flex-end;
}

.opciones{
  display:flex;
  justify-content: flex-end;
}

.opciones .btn{
  margin: 0px 5px;
}

.filtrado{
  margin-bottom: 1rem;
}
